<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>bookrank</title>
    </head>
    <body>
        <h3>Top 10 books borrowed this week</h3>
        <table width="100%" border="1" align="center">
            <thead bgcolor="#949494">
            <th>Book ID</th><th>Title</th><th>Borrow Times</th>
            </thead>
            <tbody>
                {%for book in bookrank%}
                <tr>
                    <td><a href="/books/{{book.id}}">{{book.bookid}}</a></td>
                    <td>{{book.booktitle}}</td>
                    <td>{{book.borrowtimes}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

        <h3>Top 10 books borrowed this week</h3>
        <table width="100%" border="1" align="center">
            <thead bgcolor="#949494">
            <th>Document ID</th><th>Title</th><th>Download Times</th>
            </thead>
            <tbody>
                {%for document in documentrank%}
                <tr>
                    <td><a href="/documents/{{document.id}}">{{document.documentid}}</a></td>
                    <td>{{document.documenttitle}}</td>
                    <td>{{document.downloadtimes}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>


    </body>
</html>