<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>bookdetails</title>
        
        <style>
            .dropbtn {
                font-size: 16px;
                border: none;
                cursor: pointer;
            }
            .dropdown {
                position:absolute;
                top:0px;
                right:200px;
                display: inline-block;
            }
            .dropdown-content {
                display: none;
                min-width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }
            .dropdown-content a {
                color: black;
                text-decoration: none;
                display: block;
            }
            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

            .dropdown:hover .dropdown-content {
                display: block;
                position:absolute;
            }

            article{
                border-style: groove;
                border-color:black;
            }
            .div-a{ float:left;width:49%;border:2px solid #000}
            .div-b{ float:right;width:50%;border:2px solid #000}
        </style>
        <script>
            function whenborrow(){
                if(!book.isborrowed){
                    return alert('borrow succeed!')
                }
                else{
                    return alert('failed! this copy has been borrowed')
                }
            }
            function whenreserve(){
                if(book.reserve){
                    return alert('failed! this copy has been reserved')
                }
                else{
                    return alert('reserve succeed!')
                }
            }
        </script>
    </head>
    <body>
        <div class="dropdown">
            <div class="form-group">
            <button id="name" class="dropbtn">{{ user.usertype }} : {{ user.name }}</button>
            <div class="dropdown-content">
                <a href="/user/information">User Information</a>
                {% if user.usertype=="admini" %}
                    {% if user.setadmini == true %}
                    <a href="/user/changeusertype">Change UserPermission</a>
                    {% else %}
                        {% if user.setstudent == true %}
                        <a href="/user/changeusertype">Change UserPermission</a>
                        {% endif %}
                    {% endif %}
                    <a href="/modifymaterial">Modify Material</a>
                    <a href="/uploaddocument">Upload Document</a>
                    <a href="/addbook">Add Book</a>
                {% endif %}
                {% if user.usertype=="student" %}
                    <a href="/uploaddocument">Upload Document</a>
                    <a href="/addbook">Add Book</a>
                {% endif %}
                <a href="/signout">Log Out</a>
            </div>
            </div>
        </div>
        {% if change == null %}
        <form method="post" action="/bookdetail">
            <h2>bookdetails</h2>
            <article>
                <header>
                    <h3>brief information</h3>
                    <div class="div-a">
                        <lable style="float:left">title:</lable>
                        <p>{{book.title}}</p>
                        <lable style="float:left">author:</lable>
                        <p>{{book.author}}</p>
                        <lable style="float:left">copyamount:</lable>
                        <p>{{book.copyamount}}</p>
                        <lable style="float:left">borrowedcopys:</lable>
                        <p>{{book.borrowedcopys}}</p>
                        <lable style="float:left">isbn:</lable>
                        <p>{{book.isbn}}</p>
                    </div>
                    <div class="div-b">
                        <lable style="float:left">edition:</lable>
                        <p>{{book.edition}}</p>
                        <lable style="float:left">publishtime:</lable>
                        <p>{{book.publishtime}}</p>
                        <lable style="float:left">publisher:</lable>
                        <p>{{book.publisher}}</p>
                        <lable style="float:left">Lang:</lable>
                        <p>{{book.lang}}</p>
                        <lable style="float:left">briefinfo:</lable>
                        <p>{{book.briefinfo}}</p>
                    </div>

                    
                </header>
            </article>
        </form>
        <h3>all copys</h3>
        <table width="100%" border="1" align="center">
            <thead bgcolor="#949494">
            <th>Copy</th><th>Location</th><th>BuyerName</th><th>BuyTime</th><th>BorrowTimes</th><th>Borrow</th><th>Reserve</th><th>Return</th> 
            </thead>
            <tbody>
                {% for copy in copys%}
                <tr>
                    <td>{{copy.id}}</td>
                    <td>{{copy.loc}}</td>
                    <td>{{copy.buyername}}</td>
                    <td>{{book.buytime}}</td>
                    <td>{{book.borrowtimes}}</td>
                    {%if copy.canbeborrow %}
                    <td><a href="/books/{{book.id}}/borrow">borrow</a></td>
                    {%else%}
                    <td>had borrowed</td>
                    {%endif%}
                    {%if copy.canbereserve %}
                    <td><a href="/books/{{book.id}}/reserve">reserve</a></td>
                    {%else%}
                    <td>had reserved</td>
                    {%endif%}
                    {%if user.id==borrowcopy.uid %}
                    <td><a href="/books/{{book.id}}/return">return</a></td>
                    {%else%}
                    <td>had borrowed</td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
            {% if borrowsucceed!=null %}
            <p>{{borrowsucceed}}</p>
            {%endif%}
            {% if reservesucceed!=null %}
            <p>{{reservesucceed}}</p>
            {%endif%}
            {% if returnsucceed!=null %}
            <p>{{returnsucceed}}</p>
            {%endif%}
        
            {% else %}
            
                {%if user.getUsertype()=="admini"%}
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/title">
                        <label>Title : {{book.title}}</label>
                        <input name="value" type="text" class="form-control" placeholder="title">
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/author">
                        <label>Author : {{book.author}}</label>
                        <input name="value" type="text" class="form-control" placeholder="author" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/isbn">
                        <label>Isbn : {{book.isbn}}</label>
                        <input name="value" type="text" class="form-control" placeholder="isbn" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/edition">
                        <label>Edition : {{book.edition}}</label>
                        <input name="value" type="text" class="form-control" placeholder="edition" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/publisher">
                        <label>Publisher : {{book.publisher}}</label>
                        <input name="value" type="text" class="form-control" placeholder="publisher" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/publishtime">
                        <label>Publishtime : {{book.publishtime}}</label>
                        <input name="value" type="text" class="form-control" placeholder="publishtime" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/lang">
                        <label>Lang : {{book.lang}}</label>
                        <input name="value" type="text" class="form-control" placeholder="lang" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/change/briefinfo">
                        <label>Brief Information : {{book.briefinfo}}</label>
                        <input name="value" type="text" class="form-control" placeholder="briefinfo" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                {%endif%}
            {% endif %}

            {%if user.getUsertype()=="admini"%}
            <form method="post" action="/books/{{book.id}}/changecopy">
                <button type="submit" name="changecopy">modifycopy</button>
            </form>
                {%if changecopy != null %}
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/changecopy/loc">
                        <label>Location: {{copy.loc}}</label>
                        <input name="value" type="text" class="form-control" placeholder="location" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/changecopy/buyerid">
                        <label>Buyer ID : {{copy.buyerid}}</label>
                        <input name="value" type="text" class="form-control" placeholder="buyerid" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/changecopy/buyername">
                        <label>Buyer Name: {{copy.buyername}}</label>
                        <input name="value" type="text" class="form-control" placeholder="buyername" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                <div class="form-group">
                    <form method="post" action="/books/{{book.id}}/changecopy/buytime">
                        <label>Buy Time : {{copy.buytime}}</label>
                        <input name="value" type="text" class="form-control" placeholder="buytime" >
                        <button type="submit" class="btn btn-outline-primary">modify</button>
                    </form>
                </div>
                {%endif%}
                
            {%endif%}
    </body>
</html>









