<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>changeusertype</title>
</head>
<body>
    <form method="post" action="/user/${user.id}/changeusertype">
        <div>
            <p>{{ user.usertype }} : {{ user.id }}</p>
            {% if success == null %}
            <select name="setwhat">
                {% if user.setadmini == true %}
                <option value="setadmini">Set Admini</option>
                {%  endif  %}
                {% if user.setstudent == true  %}
                <option value="setstudent">Set Student</option>
                {%  endif  %}
            </select>
            <select name="setlevel">
                <option value=""></option>
                <option value="high">Advanced</option>
                <option value="middle">Intermediate</option>
                <option value="low">Low-level</option>
            </select>
            <input type="text" name="users" value="{{target}}">
            <input type="submit" value="submit" name="beginset">
            {% else %}
            <p>{{ success }}</p>
            <br>
            <a href="/user/${user.id}/changeusertype">Continue change userpermission</a>
            <br>
            <a href="/search">Return Search</a>
            {% endif %}
        </div>
    </form>

</body>
</html>