<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>signin</title>
</head>

<body>
    <form method="post" action="/signin">
        <h3>Meterial Manage System</h3>
        <p>Welcome</p>
        <div class="form-group">
            <label>UserName</label>
            <input name="id" type="id" class="form-control" placeholder="id" value="{{ id }}">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control" placeholder="Password">
        </div>
        {% if error != null %}
        <div class="form-group">
          <p id="error" class="text-danger">{{ error }}</p>
        </div>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        <br>
        <div class="form-group">
            <a href="/register">Don't have an account?</a>
        </div>
    </form>
</body>

</html>