<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uploadSuccessful</title>
</head>
<body>
    <div>
        <p>Upload document successfully.</p>
        <p>Details:</p>
    </div>
    <div>
        <table width="100%" border="1" align="center">
            <thead bgcolor="#949494">
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Uploadtime</th><!--<th>Uploader</th><th>Filepath</th><th>Downloadtimes</th>-->
                <th>Uploadtime</th>
            </thead>
            <tbody>
            <tr>
                <td>{{document.id}}</td>
                <td>{{document.title}}</td>
                <td>{{document.author}}</td>
                <td>{{document.uploadtime}}</td>
                <!--<td>{{document.uploader}}</td>
                <td>{{document.filepath}}</td>
                <td>{{document.downloadtimes}}</td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/search">Rerurn search.</a>
    </div>
    <div>
        <a href="/uploaddocument">Continue uploading</a>
    </div>
</body>