<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>userstatisticdetails</title>
    </head>
    <body>
        <h3>User Statistics</h3>
        <label style="float:left">User ID:</label>
        <p>{{userstatistic.userid}}</p>
        <label style="float:left">User Name:</label>
        <p>{{userstatistic.username}}</p>
        <label style="float:left">The number of donated books:</label>
        <p>{{userstatistic.uploadtimes}}</p>
        <label style="float:left">The number of uploaded doucuments:</label>
        <p>{{userstatistic.addcopytimes}}</p>

    </body>
</html>