<head>
    <meta charest="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>

<body>
<ul>
    <form method="post" action="/user">
        <div class="form-group">
            <p>Your ID :{{ id }}</p>
            <p>Your Name :{{ name }}
                <button name="change" type="submit" value="name">changename</button>
            </p>
            <button name="change" type="submit" value="password">changepassword</button>
        </div>

    </form>
</ul>
</body>
</html>