<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>userstatisticdetails</title>
    </head>
    <body>
        <h3>User Statistics</h3>
        <table width="100%" border="1" align="center">
            <thead bgcolor="#949494">
            <th>User ID</th><th>User Name</th><th>Upload Times</th><th>Add Copy Times</th>
            </thead>
            <tbody>
                {%for user in userstatistic%}
                <tr>
                <td>{{user.userid}}</td>
                <td>{{user.username}}</td>
                <td>{{user.uploadtimes}}</td>
                <td>{{user.addcopytimes}}</td>
                </tr>
                {%endfor%}
            </tbody>
        

    </body>
</html>