<head>
    <meta charest="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
</head>

<body>
<ul>
    <form method="post" action="/user/information">
        <div class="form-group">
            {% if fault != null %}
                <p>Change Fault, please choose again.</p>
            {% endif %}
            <p>Your ID :{{ user.id }}</p>
            <p>Your Name :{{ user.name }}
                <button name="change" type="submit" value="name">changename</button>
            </p>
            <button name="change" type="submit" value="password">changepassword</button>
        </div>
        <br>
        <a href="/search">Return Search.</a>
    </form>
</ul>
</body>
</html>